.h1,
.h2,
.h3,
.h4
  font-family: 'Roboto regular'

.h5,
.h6
  font-family: 'Roboto regular'


@media screen and (max-width: $mobileWidth)
  html
    font-size: 8px

@media screen and (max-width: $tabletWidth)
  html
    font-size: 9px

@media screen and (max-width: $laptopWidth)
  html
    font-size: 10px

@media screen and (max-width: $desktopWidth)
  html
    font-size: 11px

@media screen and (max-width: $retinaWidth)
  html
    font-size: 12px

.h1, h1
  font-size: $h1

.h2, h2
  font-size: $h2

.h3, h3
  font-size: $h2

.h4, h4
  font-size: $h4

.h5, h5
  font-size: $h5

.h6, h6
  font-size: $h6

.p
  font-size: $p

.light
  font-family: 'Roboto light'
