@import MenuItemIcon

.header-menu--item
   display: inline-flex


   a
      @extend .h6
      border-radius: 2px
      color: $black200
      padding: 8px


      &:hover
         background-color: $black700-transparent
         cursor: pointer

      &.active
